:root{
    --primary-color: #7392B7;
    --primary-color-dark: #3852A0;
    --secondary-color: #5D5D81;
    --secondary-color-dark: #3B3355;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}