@font-face{
    font-family: "NunitoSans-Italic" ;
    src: url("../fonts/NunitoSans-Italic.ttf");
}

@font-face{
    font-family: "NunitoSans-ExtraBoldItalic" ;
    src: url("../fonts/NunitoSans-ExtraBoldItalic.ttf");
}
